<!DOCTYPE html>
<html>
<head>
	<title>wait</title>
	<link type="text/css" rel="stylesheet" href="m2.css">
   <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">
   <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>           
   <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js"></script>
      <style type="text/css">
   
    body, html {
    margin: 0;
    height: 100%;
    }
    .bg{
          background-image: url("https://3.bp.blogspot.com/-y-cEN-Ui7rs/UtJtIb74X8I/AAAAAAAAGdg/5i1zN81uZ0g/s1600/Plain-design-pattern-dark-background-image-HD-resolution-latest-pack.jpg");
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
          height: 100%;
        }
    </style>
      <script type="text/javascript">
$(document).ready(function() {
    $('select').material_select();
  });
</script>

</head>
<body data-spy="scroll" data-target=".navbar" data-offset="50">
<div class="bg"> 
<div class="container-fluid">    
<div >
           <center>
        <img style="height: 20%; width: 10%" src="http://localhost:8000/static/onlylogo.png">
        </center>
     </div>

    </div>
   
    <div class="container">
     <div class="row" id="title">
         <div class="col s12 " style="text-align: center; font-size: 7vmin;margin-top: 10% ;color: white;"><i><b>Thanks for contacting us! 
         <br>We will get in touch with you shortly!!!</b></i>
         </div>
      <br>
          
     </div>
  </div>
  </div>
 
</body>
</html>
