

<html>
    <head>
      <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <!-- Compiled and minified CSS -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">
      <!-- Compiled and minified JavaScript -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>           
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js"></script>
      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <style type="text/css">
       .bg{
          background-image: url("https://2.bp.blogspot.com/-a-hDggsFG3E/VzZrOmf1EMI/AAAAAAAAACQ/qS3d6S0bKogSGzC47oiYM82XIAcofGYFACLcB/s1600/General-Education-PowerPoint-PPT.jpg");
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
        }
    .bluebg{
      padding: 10px 10px 10px 10px;
      background-image: url("http://www.apherald.com/ImageStore/SriSoft9Images/Backgrounds/contactus-background.png");
          background-repeat: no-repeat;
      background-attachment: fixed;
          background-size: cover;
          background-position: center;
      overflow:hidden;
      color:grey;
      
    }
    .about{
    margin-bottom:20px;
    padding: 60px 40px 60px 40px;
    border: 2px solid red;
    border-radius: 5px;
    outline-style: double;
    outline-color: gray;
    outline-width: 10px;
    overflow:hidden;
    color:white;
    }
    .contact{
      padding: 80px 100px 20px 100px;
      background-attachment: fixed;
      background-image: url("http://wallpaperlayer.com/img/2015/6/wood-wallpaper-hd-517-587-hd-wallpapers.jpg");
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
      height: 100%;     
    }
    
      </style>

  
    </head>
    <script type="text/javascript">
    $( document ).ready(function(){
     $(".button-collapse").sideNav();
  })
  </script>
  <body data-spy="scroll" data-target=".navbar" data-offset="50">
  <div class="bg">     
    <div class="container-fluid">
      <nav style="background-color: #193540">
        <div class="nav-wrapper">
        <a href="#!" class="brand-logo center">Logo</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li style="font-size: 25px; width: 150px; text-align: center"><a href="sass.html"><b>Contact</b></a></li>
          <li style="font-size: 25px; width: 150px; text-align: center"><a href="badges.html"><b>Login</b></a></li>
        </ul>
        <ul class="left hide-on-med-and-down">
          <li style="font-size: 25px; width: 150px; text-align: center "><a href="sass.html"><b>Home</b></a></li>
          <li style="font-size: 25px; width: 150px; text-align: center"><a href="badges.html"><b>AboutUs</b></a></li>
        </ul>
        <ul class=" side-nav" id="mobile-demo">
          <li><a href="collapsible.html">Login</a></li>
          <li><a href="sass.html">Home</a></li>
          <li ><a href="badges.html">About Us</a></li>
          <li style="color:white;"><a href="collapsible.html">Contact</a></li>
        </ul>
        </div>
      </nav>
    </div>
  
  <br>
  <br>
  <br>
  <br>
  <div class="container">
   <div class="row" id="title">
         <div class="col s6 offset-s3" style="text-align: center; font-size: 13vmin; ">thErudite
         </div>
     <br>
          <div class="col s7 offset-s5" style="margin-top:-20;text-align: center; font-size: 5vmin; ">-Don't give yourself a reason to stop
         </div> 
   </div>
   </div>
   <br>
   <br>
   <br>
   <br>
   <br>
  <div class="row hide-on-med-and-down">
  <a href="http://localhost:8000/signup/student" class="col s3 offset-s3 waves-effect waves-light btn-large flow-text " style="background-color: #193540">Join as Student</a>
  <a class="col s3 waves-effect waves-light btn-large flow-text" style="margin-left:3;background-color: #193540">Join as organisation</a>
  </div>
  <div class="row hide-on-large-only">
  <a href="http://localhost:8000/signup/student" class="col s6 offset-s4 waves-effect waves-light btn-large flow-text " style="background-color: #193540">Join as Student</a>
  </div>
  <div class="row hide-on-large-only">
  <a class="col s6 offset-s4 waves-effect waves-light btn-large flow-text" style="background-color: #193540">Join as organisation</a>
  </div>
  </div>
  <div id="aboutus" style="background-color:black;">
  <div  style="margin-bottom: 0;margin-top:0; background-color:#193540; height:50%">
  <div class="row">
    <div class="col s3 offset-s5" style="color: white; font-size: 3em; margin-top: 1%"> About Us</div>
     </div>
     <div class="row" style="margin-top: 0">
       <div class="col s4"  style="text-align: justify; color: white; margin-top: 0">
         <h5>Vision</h5>
         <p>ThErudite was brought about in March 2017 on the belief that the girls, if given more opportunities and financial aids to pursue higher education, can bring about a positive difference to the society and the world at large.</p>
       </div>
       <div class="col s4 offset-s4"  style="text-align: justify; color: white">
         <h5>Team</h5>
         <p>Ekta Tasha Mittal Sakshi. Fuck everyone else.</p>
       </div>
     </div>
     </div>

  <div class="row">
  <div  style="margin-bottom: 0;margin-top:0;background-color:white; height:50%; ">
   <div class="row" style="margin-top:0;">
       <div class="col s4"  style="text-align: justify; color: black; margin-top: 5%">
         <h5>Endeavors for Students</h5>
         <p>ThErudite helps the girls find best suited scholarships according to their profile. ThErudite, on its end, tries to narrow down the choices and hence, reducing the time wasted to scan through all the scholarships by the candidate.</p>
       </div>
       <div class="col s4">
       <img  src="http://localhost:8000/signup/logo.png" style="position: relative;
    top: -95px;
    z-index: 10;
    align-items: center; margin-left: 15%; height: 90%; width: 65%;">
    </div>
       <div class="col s4 "  style="text-align: justify; color: black;margin-top: 5%">
         <h5>Endeavors for Organisations</h5>
         <p>ThErudite gives a platform to the universities to select best candidates and gives access of the documents of their documents when an application is received.</p>
       
  </div>
  </div>
  </div>
  </div>
  </div>
<div class="contact">
    <h3 style="color:white">Contact Me</h3>
    <hr>
    <div class="row" style="margin: 5%">
  
        <form class="col s12 m6 l6">
    <div class="card white darken-1" style="box-shadow: 5px 5px 2px #888888;">
            <div class="row" style="margin-right:20px;">
                <div class="input-field col s6">
                    <i class="mdi-action-account-circle prefix"></i> <input
                        id="icon_prefix" type="text" class="validate"> <label
                        for="icon_prefix">First Name</label>
                </div>

                <div class="input-field col s6">
                    <i class="mdi-communication-phone prefix"></i> <input
                        id="icon_telephone" type="tel" class="validate"> <label
                        for="icon_telephone">Telephone</label>
                </div>

            </div>
            <div class="row" style="margin-right:20px;  margin-bottom:30px;">
                <div class="input-field col s12">
                    <i class="mdi-communication-email prefix"></i> <input id="email"
                        type="email" class="validate"> <label for="email"> Your E-Mail</label>
                </div>
            </div>


            <div class="row" style="margin-right:20px; margin-bottom:30px;">
                <div class="input-field col s12">
                    <i class="mdi-editor-mode-edit prefix"></i>
                    <textarea id="icon_prefix2" class="materialize-textarea"></textarea>
                    <label for="icon_prefix2">Message</label>
                </div>
            </div>

    </div>
        </form>
    
        <div class="col s12 m6 l6 contact-holder" style="color:white">
            <h6 class="mdi-action-home">Address</h6>
            <p>No. 41, Digital Street, Kochi Kerala <br>6820505</p>
            <h6 class="mdi-hardware-phone-android">Phone Number</h6>
            <p>+91 9895234560</p>
            <h6 class="mdi-action-open-in-browser">Website</h6>
            <p>mytutorials.com</p>
        </div>
  </div>
    </div>

  <!--<div id="aboutus" style="background-color:black;">
  <div  style="margin-bottom: 0;margin-top:0; background-color:#193540; height:50%">
  <div class="row">
    <div class="col s3 offset-s5" style="color: white; font-size: 3em; margin-top: 1%"> About Us</div>
     </div>
     <div class="row" style="margin-top: 0">
       <div class="col s4"  style="text-align: justify; color: white; margin-top: 0">
         <h5>Vision</h5>
         <p>ThErudite was brought about in March 2017 on the belief that the girls, if given more opportunities and financial aids to pursue higher education, can bring about a positive difference to the society and the world at large.</p>
       </div>
       <div class="col s4 offset-s4"  style="text-align: justify; color: white">
         <h5>Team</h5>
         <p>Ekta Tasha Mittal Sakshi. Fuck everyone else.</p>
       </div>
     </div>
     </div>

  <div class="row">
  <div  style="margin-bottom: 0;margin-top:0;background-color:white; height:50%; ">
   <div class="row" style="margin-top:0;">
       <div class="col s4"  style="text-align: justify; color: black; margin-top: 5%">
         <h5>Endeavors for Students</h5>
         <p>ThErudite helps the girls find best suited scholarships according to their profile. ThErudite, on its end, tries to narrow down the choices and hence, reducing the time wasted to scan through all the scholarships by the candidate.</p>
       </div>
       <div class="col s4">
       <img  src="logo.png" style="position: relative;
    top: -95px;
    z-index: 10;
    align-items: center; margin-left: 15%; height: 90%; width: 65%;">
    </div>
       <div class="col s4 "  style="text-align: justify; color: black;margin-top: 5%">
         <h5>Endeavors for Organisations</h5>
         <p>ThErudite gives a platform to the universities to select best candidates and gives access of the documents of their documents when an application is received.</p>
       
  </div>
  </div>
  </div>
  </div>
  </div>-->
  </body>
  </html>